<!DOCTYPE html>
<html lang="en">
<head>
    <Title>Admin</Title>
</head>
<body>
</body>
    <div> Welcome 
    <%= comp.name %>, thank you for logging in! </div>
    </div> Text: 

	<%= comp.sentence%> </div>
</html>