<!DOCTYPE html>
<html lang="en">
<head>
    <Title>Log In</Title>
</head>
<body>
</body>
	Login Page
	<form action="/login" method="post">
		First name:<br>
		<input type="text" name="firstname"><br>
		Last name:<br>
		<input type="text" name="lastname">
		<input type="submit" value="Submit">
	</form>
</html>