<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
</head>
<body>
	<form method="post" action="/signup">
		<input type="text" name="singupName">
		<input type="text" name="signupPassword">
		<input type="submit">
	</form>
</body>
</html>